# Code Samples From Large Group

Place your notes and code samples from large group here. Your professor will share with you his code from large group.

In [3]:
print("Hi")
print("There")

Hi
There

In [6]:
# To run a cell, SHIFT+ENTER

In [5]:
print("Yo!")

Yo!

In [9]:
name = input("Who are you?")
print("Hello,", name)

Who are you? Bob

Hello, Bob

In [13]:
# New Way
name = input("Who are you?")
print(f"Hello {name}!")

Who are you? Dave

Hello Dave!

In [14]:
# Why do input without a variable?
input("Enter your salary")
print("You make : ???")

Enter your salary 10000

You make : ???

In [24]:
#input
name = input("Enter your name")
hourly_rate = input("How much do you make an hour?")
hours_worked = input("How many hours did you work?")

#process
total_pay = hourly_rate * hours_worked

#output
print(f"{name} has total pay of {total_pay}")

Enter your name Mike
How much do you make an hour? 10
How many hours did you work? 5

TypeError: can't multiply sequence by non-int of type 'str'

In [23]:
#input
name = input("Enter your name")
hourly_rate = float(input("How much do you make an hour?"))
hours_worked = float(input("How many hours did you work?"))

#process
total_pay = hourly_rate * hours_worked

#output
print(f"{name} has total pay of {total_pay}")

Enter your name Jon Snow
How much do you make an hour? 0.05
How many hours did you work? 1000

Jon Snow has total pay of 50.0

In [17]:
"100" + "5"

'1005'

In [18]:
100 + 5

105

In [19]:
n = input("Enter number")
n + 5

Enter number 100

TypeError: can only concatenate str (not "int") to str

In [20]:
n

'100'

In [21]:
int("500")

500

In [22]:
float("500")

500.0

In [25]:
# End to End example

In [26]:
print("""
    There once was a man named [mans-name]. 
    He liked to eat [food-rhymes-with-name]. 
    One day he ate so much [food-rhymes-with-name], 
    that he got the [ailment], 
    and had to run to the [place-rhymes-with-name].
    """)

    There once was a man named [mans-name].
    He liked to eat [food-rhymes-with-name].
    One day he ate so much [food-rhymes-with-name],
    that he got the [ailment],
    and had to run to the [place-rhymes-with-name].

In [27]:
# interpolate
name = "Tony"
food = "Baloney"
ailment = "cramps"
place = "Barcaloni"

print(f"""
    There once was a man named {name}. 
    He liked to eat {food}. 
    One day he ate so much {food}, 
    that he got the {ailment}, 
    and had to run to {place}.
    """)

    There once was a man named Tony.
    He liked to eat Baloney.
    One day he ate so much Baloney,
    that he got the cramps,
    and had to run to Barcaloni.

In [28]:
# interpolate
name = input("Enter your name")
food = input(f"Enter a food that rhymes with {name}")
ailment = input("Enter illness")
place = input(f"Enter a place that rhymes with {name}")

print(f"""
    There once was a man named {name}. 
    He liked to eat {food}. 
    One day he ate so much {food}, 
    that he got the {ailment}, 
    and had to run to {place}.
    """)

Enter your name Carlo
Enter a food that rhymes with Carlo Marlo Cheddar
Enter illness flu
Enter a place that rhymes with Carlo someplace better

    There once was a man named Carlo.
    He liked to eat Marlo Cheddar.
    One day he ate so much Marlo Cheddar,
    that he got the flu,
    and had to run to someplace better.